*{
    margin: 0px;
    padding: 0px;
    scrollbar-width: none;
}
.mainone{
    height: 100%;
    width: 100%;
    position: relative;
}
.home{
    height: 100%;
    width: 100%;
    background-color: rgba(231, 231, 231, 0.26);
    backdrop-filter: blur(8px);
    position: absolute;
    z-index: 1;
}
.home > img{
    height: 70%;
    width: 70%;
    position: absolute;
    top: 100px;
    right: -150px;

}
.home > h4{
    top: 13px;
    color: white;
    position: absolute;
    left: 12px;
}
.home > h1{
    position: absolute;
    left: 4%;
    right: 55%;
    bottom: 60%;
    text-align: center;
    color: white;
}
.home > h3{
    bottom: 33%;
    font-size: 15px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 9%;
    right: 60%;
}
.home > button{
    bottom: 24%;
    width: 150px;
    height: 37px;
    background-color: transparent;
    border: 2px solid rgb(228, 233, 235);
    color: rgb(255, 255, 255);
    left: 17%;
    position: absolute;
border-radius: 10px;
}
.home > button:hover{
    background-color: rgba(255, 255, 255, 0.404);
    box-shadow: 0px 0px 20px 0px white;
}
#one{
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
}
.navbar{
width: 50%;
list-style: none;
height: 7%;
right: 0px;
position: absolute;
display: flex;
gap: 20px;
border-radius: 10px;
}
.navbar > li{
    height: 100%;
width: 17%;
align-items: center;
justify-content: center;
display: flex;
}
.navbar > li:hover{
    background-color: rgba(255, 255, 255, 0.205);
}
.navbar > li:active{
    background-color: rgba(255, 255, 255, 0.541);
}
.navbar > li > a{
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.da{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    position: relative;
}
.da > img{
    height: 65%;
    position: absolute;
    right: 40px;
    top: 90px;
    width: 40%;
    border-radius: 20px;
    border: 1px solid rgb(25, 118, 194) ;
    box-shadow: 0px 0px 40px 0px rgb(25, 118, 194);
}
.da > img:hover{
      box-shadow: 0px 0px 60px 0px rgb(0, 247, 255);
  transform: scale(1.1);
  transition-duration: 1s;
}
.da > h1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    color: rgb(15, 14, 14);
}
.da > h4{
      position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    font-size: 12px;
    color: rgb(15, 14, 14);
}
.da > h3{
    position: absolute;
    top: 180px;
    left: 30px;
}
.da > ol{
display: flex;
margin-left: 70px;
list-style: none;
margin-top: 20px;
flex-direction: column;
position: absolute;
top: 200px;
}
.da > ol > li{
    color: rgb(24, 22, 22);
    padding: 10px;
    font-size: 15px;
    left: 40px;
}
.da > ol > li > span{
        text-align: center;
    border-radius: 50%;
    background: linear-gradient(to left,rgb(0, 255, 242),rgb(0, 110, 255));
    margin-right: 10px;
    display: inline-block;
height: 20px;
width: 20px;
}

/* services section */
.service{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgb(243, 243, 234);
    display: flex;
gap: 0px;
flex-wrap: wrap;
align-items: center;
align-content: center;
justify-content: flex-end;
}
.service > img{
    height: 70%;
    width: 40%;
    background: linear-gradient(to top,rgb(68, 184, 184),rgb(18, 99, 153));
position: absolute;
left: 20px;
top: 90px;
border-radius: 10px;
border: 2px solid rgb(0, 110, 255);
box-shadow: 0px 0px 20px 0px ;
}
.service > img:hover{
    box-shadow: 0px 0px 40px 0px;
}
.service > h1{
font-size: 28px;
    top: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: whitesmoke;
}
.ser{
margin-top: 10px;
    width: 26%;
position: relative;
    height: 33%;
    margin-left: 0px;
    margin-right: 15px;
    border-radius: 8px;
    background: linear-gradient(to top,rgb(68, 184, 184),rgb(18, 99, 153));
}
.ser:hover{
    transform: scale(1.1);
    transition-duration: 1s;
    box-shadow: 0px 0px 40px 0px rgb(37, 255, 255);
}
.service > #problem{
    margin-left: 260px;
}
.ser > h1{
    color: white;
    font-size: 25px;
    position: absolute;
    top: 20px;
    left: 10px;
}
.ser > p{
    top: 35%;
    color: whitesmoke;
    left: 10px;
    right: 10px;
    word-break: break-all;
    position: absolute;
}
.about{
    height: 100%;
    width: 100%;
background: linear-gradient(to left,rgb(230, 218, 218),rgb(16, 121, 207));    
position: relative;
}
.about > img{
    height: 80%;
    position: absolute;
    right: 5%;
    width: 35%;
    top: 8%;
border-radius: 10px;
    border: 2px solid rgb(0, 110, 184);
}
.about > h1{
    position: absolute;
    top: 115px;
    left: 40px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.about > h2{
    font-size: 16px;
    color: white;
    top: 150px;
    left: 40px;
    position: absolute;
}
.about > h3{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    right: 600px;
    top: 200px;
    left: 100px;
    position: absolute;
}
.staff{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
justify-content: center;
    gap: 15px;
}
.staff > img{
margin-top: 100px;
border-radius: 4px;    
background-color: rgb(83, 186, 255);
    height: 40%;
    width: 35%;
}
.staff > h1{
    position: absolute;
    top: 20px;
    text-align: center;
}
.staff > p{
    position: absolute;
    top: 60px;
}
@keyframes one{
    from{
        top: 260px;
    }
    to{
        top: 167px;
    }
}
.one,.two,.three{
    position: absolute;
    animation: 2s ease-in-out one;
    height: 30%;
    width: 33%;
background: linear-gradient(to top,black,transparent);
left:-5px;
top: 167px;
}
.one > img,.two>img,.three>img{
    height: 80PX;
    border-radius: 50%;
    right: 10px;
    top: -60px;
    position: absolute;
    width: 80PX;
}
.one > p,.two >p,.three >p{
    position: absolute;
    left: 50px;
    right: 60px;
    color: white;
    top: 30%;
}
.one > h1,.two > h1,.three > h1{
    font-size: 28PX;
    color: WHITE;
    top: 10PX;
position: absolute;
left: 20px;
}
 #b1,#b2,#b3{
  margin-top: 100px;
border-radius: 4px;    
    height: 40%;
    border: none;
    width: 33%;
position: absolute;
background-color: rgba(17, 239, 255, 0.123);
}
#b2{
    left: 0px;
}
#b3{
    right: 0px;
}
.one{
    display: none;
}
.two{
 display: none;
    left: 33.5%;
}
.three {
    display: none;
    left: 67%;
}
.three > img{
    background-color: white;
}
.staff > ol{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: absolute;
    align-items: flex-end;
    column-gap: 140px;
    left: 20px;
    right: 20px;
    list-style: none;
    bottom: 20px;
}
.staff > ol > li>span{
    margin-right: 5px;
    margin-bottom: 4px;
    background-color: cyan;
    height: 20px;
    width: 20px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}
.staff > ol > li{
font-size: 15px;
padding: 30px;
border-radius: 10px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 20px; 
word-break: break-all;
color: rgb(46, 44, 44);
}
.staff > ol > li:hover{
    font-size: 18px;
    color: black;
}
.contact{
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
}
.contact > input,select,#bp{
    display: flex;
    margin-top: 25px;
    margin-left: 220px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    border: 2px solid teal;
    text-align: center;
    width: 350px;
    background: linear-gradient(to left,rgb(85, 240, 240),rgb(0, 119, 255));
}
.contact > input::placeholder{
    text-align: center;
    color: black;
    font-size: 12px;
}
.contact > button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: white;
}
.contact > .pics{
    height: 310px;
    border-radius: 10px;
    width: 250px;
    position: absolute;
    right: 120px;
    background-color: gray;
background-size: contain;
background-repeat: no-repeat;
    top: 80px;
}
.contact > #title,#info{
    position: absolute;
    top: 15%;
    color: rgb(48, 43, 43);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 25px;
    right: 33%;
}
.contact > #title{
    left: 50%;
}
.contact > h2{
    position: absolute;
    left: 50%;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    right: 10%;
    color: rgb(70, 65, 65);
    bottom: 110px;
}
.contact > #info{
    font-size: 13px;
    top: 25%;
    left: 53%;
}
.contact > h1{
    color: black;
    position: absolute;
    top: 10px;
    left: 10px;
}
#menu{
    display: none;
height: 50px;
position: absolute;
top: -1px;
right: -1px;
background-color: rgb(54, 243, 243);
width: 50px;
border-bottom-left-radius: 10px;
}
.navbar > #closeb{
    display: none;
}
#menu:hover{
    background-color: rgb(18, 73, 255);
}
#menu:active{
    background-color: cyan;
}
/* ipadsize */
@media screen and (max-width: 800px)
{
    /* navbar start */
    #menu{
        display: flex;
    }
    @keyframes ipadnav {
        from{
            right: -400px;
        }
        to{
            right: 0px;
        }
        
    }
    .navbar > #closeb{
        display: flex;
    }
    .navbar{
        display: none;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.336);
        backdrop-filter: blur(15px);
        height: 100%;
        width: 50%;
    justify-content: center;
    animation: ease-in-out 2s ipadnav;
    }
    .navbar > li{
        width: 100%;
        height: 60px;
    }
    .navbar > li > a{
        font-size: 20px;
        color: black;
    }
    .navbar > li:hover{
        background-color: cyan;
    }
    .navbar > #closeb{
        height: 40px;
        width: 40px;
        top: 0px;
        right: 0px;
        position: absolute;
        background-color: red;
        border-bottom-left-radius: 10px;
    }
    .navbar > #closeb:hover{
        background-color: maroon;
    }
    .navbar > #closeb:active{
    background-color: red;
    }
    /* navbar finished */

    /* home start */
    .home > img{
        display: none;
    }
.home > h1{
right: 0;

color: rgb(22, 21, 21);
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
}
    .home > h3{
        color: rgb(24, 23, 23);
        top: 44%;
        transform: translateX(-50%);
        position: absolute;
        right: 0px;
        left: 51%;
    }
    .home > button{
        color: black;
        border: solid 2px black;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        bottom: 15%;
    }
    .home > button:hover{
        box-shadow: 0px 0px 20px 0px black;
    }
/* home finished */

/* meeting start */
.da > img{
    height: 40%;
    left: 50%;
    transform: translateX(-50%);
}
.da > h3{
    top: 54%;
}
.da > ol{
    top: 55%;
transform: translateX(-50%);
position: absolute;
right: -180px;
    left: 50%;
}
/* meeting finished */

/* services */
.service > img{
    height: 30%;
    width: 40%;
    left: 50%;
    position: re;
    transform: translateX(-50%);
}
.service{
    height: 120%;
    display: flex;
    justify-content: flex-start;
}
.service > .ser{
    width: 40%;
    height: 25%;
    font-size: 13px;
    margin-left: 40px;
}
.service > #problem{
    margin-top: 160px;
    position: relative;
    top: 430px;
     left: 120px;
    
}
/* not finish service section */

/* start about section */
.about > h1{
    top: 48%;
}
.about > h2{
    top: 54%;
}
.about > h3{
    right: 0px;
    font-size: 16px;
    top: 58%;
    color: rgb(27, 26, 26);
}
.about > img{
    height: 1px;
    width: 1px;
}
.about > #com{
    width: 102%;
    right: -10px;
    left: -10px;
    top: 0px;
    height: 45%;
}
/* about finished */
.one > p,.two > p,.three > p{
    font-size: 14px;
}
.staff > ol{
    display: flex;
    gap: 11px;
}
.staff > ol >li:hover{
    font-size: 13px;
}
.staff > ol > li{
    font-size: 11px;
}
/* contact start */
.contact >.pics{
    width: 50%;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    height: 30%;
    top: 90%;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact > input,select,#bp{
 margin-left: 0px;
}
.contact > h2{
    bottom: -430px;
    right: 0px;
    left: 40px;

}
.contact > #title{
    top: 850px;
    left: 50%;
    transform: translateX(-50%);
    right: -10px;
    position: absolute;
}
.contact > #info{
    top: 900px;
    right: 0px;
    left: 50%;
    transform: translateX(-50%);
}
.home > #phonepic{
    display: none;
}
}
@media screen and (max-width: 450px)
{
    
    .navbar{
        width: 100%;
    }
    .home > h1{
        font-size: 20px;
        top: 25%;
    }
    .home > h3{
        height: 100%;
        width: 100%;
     font-size: 12px;
    }
    .home > button{
        bottom: 16%;
    }
    .da > img{
height: 30%;
width: 70%;
    }
    .da > h1{
        font-size: 20px;
    }
    .da > h4{
        font-size: 11px;
        top: 40px;
        text-align: center;
    }
    .da > h3{
        position: absolute;
        left: 0px;
    }
    .da > ol{
        left: 30%;
        font-size: 12px;
    }
    .service{
        height: 160%;
       display: inline-block;
    }
    .service > img{
        height: 15%;
        width: 70%;
    }
    .service > .ser > p{
        top: 50px;
        font-size: 12px;
    }
    .service > .ser >h1{
        font-size: 20px;
    }
    .service > .ser{
        width: 80%;
        height: 15%;
    }
    .about {
        display: flex;
        flex-wrap: wrap;
    }
    .about > h1{
        left: 5px;
        font-size: 25px;
    }
    .about > h2{
        left: 5px;
        font-size: 12px;
    }
    .about > h3{
        font-size: 13px;
        word-break: break-all;
        right: 100px;
        width:90%;
        left: 10px;
    }
    .staff{
        display: flex;
        flex-direction: column;
        height: 170%;
        justify-content: flex-start;
    }
    .staff > h1{
        font-size: 25px;
    }
    .staff > p{
        font-size: 12px;
        text-align: center;
    }
    *{
        scrollbar-width: auto;
    }
    .staff > img{
     width: 80%;
     margin-top: 1px;
     height: 15%;
     margin-left: 40px;
    }
    .staff > #b1,#b2,#b3{
        height: 15%;
        display: flex;
        width: 81%;
        left: 50%;
        transform: translateX(-50%);
    }
    .service>#problem{
        margin-left: -10px;
        position: absolute;
        top: 911px;
        left: 55%;
        transform: translateX(-50%);
        margin-top: -110px;
    }
    .service > h1{
        font-size: 22px;
    }
    .staff > #a1{
        margin-top: 100px;
    }
    .staff > #b2{
top: 167px;
    }
    .staff > #b3{
        top: 330px;
    }
    .staff > .one ,.two,.three{
      height: 15%;
      animation: none;
        display: none;
        z-index: 999;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
    }
    .contact > #title{
font-size: 20px;
    }
    .contact > h2,#info{
        font-size: 11px;
        width: 100%;
        left: 0px;
        right: 0px;
        position: absolute;
    }
    .contact > h2{
        font-size: 15px;
    }
    .staff > h1{
    text-align: center;
   width: 100%;

    }
    .staff > .one > img,.two > img,.three > img{
        height: 40px;
        width: 40px;
        top: 10px;
    }
        .staff > .one > h1,.two > h1,.three > h1{
     font-size: 24px;
    }
  .staff > .one > p,.two > p,.three > p{
     font-size: 12px;
    }
    .one{
        top: 100px;
    }
    .staff > .two{
      top: 264px;
    }
    .staff > .three{
        top: 430px;
    }
    .staff > ol{
        margin: 0px;
        top: 0px;
        gap: 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-content: center;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        bottom: -20px;
    }
    .contact > input,select,#bp{
        width: 100%;
    }
    .contact > .pics{
        width: 100%;
    }
}